{% extends 'base.html' %}
{% block header %}
  <h2>{% block title %}Add{% endblock title %}</h2>
{% endblock header %}
{% block content %}
<h3>Manual Entry</h3>
  <p>
    <!-- Learn more about this project by visiting the <a href="{{ url_for('pages.about') }}">About page</a>. -->
     <form action="{{ url_for("pages.manual")}}" method="post">
        <label for="hike_name">Hike Name: </label><br>
        <input type="text" id="hike_name" name="hike_name"><br>
        <label for="distance">Distance (miles): </label><br>
        <input type="text" id="distance" name="distance"><br>
        <label for="elevation">Elevation Gain (feet): </label><br>
        <input type="text" id="elevation" name="elevation"><br>
        <input type="submit" value="Submit" onclick="return confirm('Please confirm submission')">
    </form>

  </p>
{% endblock content %}