
<nav>
    <ul>
      <li><a href="{{ url_for('pages.home') }}">Home</a></li>
      <li><a href="{{ url_for('pages.add') }}" title="Click here to add new hikes to your hike log!">Add Hike</a></li>
      <li><a href="{{ url_for('pages.hikelog') }}" title="Click here to view your hike log!">Hike Log</a></li>
      <li><a href="{{ url_for('pages.stats') }}" title="Click here to view the cumulative stats of your hikes!">View Stats</a></li>
      <li><a href="{{ url_for('pages.about') }}" title="Click here to learn more about the website!">Help</a></li>
    </ul>
  </nav>
